:root {
  --bg-dark: #ffffff;
  --header-bg: #ffffff;
  --header-gray: #e5e7eb;
  --text: #292723;
  --orange: #ffaa2a;
  --orange-light: rgba(255, 164, 27, 0.2);
  --gray-light: #c4c4c4;
  --gray-dark: #64635e;
  --gray-spring: #e5e5e5;
  --black: #292723;
  --white: #ffffff;
  --board-gray: #c4c4c4;
  --progress : #F4F5F7;
  /*
    border-bg : border 배경 색깔
    border-gray : input창 border 색깔
    border-line : border의 테두리 색깔
    */
  --border-bg: #ffffff;
  --border-gray: #c4c4c4;
  --border-line: #c4c4c4;
  --input-bg: #ffffff;
  --hover: #e9ecef;
  --shadow: rgba(0, 0, 0, 0.1);
}

html.dark {
  --bg-dark: #2e2b27;
  --header-bg: #292723;
  --header-gray: rgba(0, 0, 0, 0);
  --text: #ffffff;
  --orange: #ffaa2a;
  --orange-light: rgba(255, 164, 27, 0.2);
  --gray-light: #c4c4c4;
  --gray-dark: #ffffff;
  --gray-spring: #64635e;
  --black: #ffffff;
  --white: #2e2b27;
  --board-gray: #4c4643;
  --progress: #403D39;
  /*
   border-bg : border 배경 색깔
   border-gray : input, button 창 border 색깔
   border-line : border의 테두리 색깔
   */
  --border-bg: #33302c;
  --border-gray: #64635e;
  --border-line: #424242;
  --input-bg: #33302c;
  --hover: #3e3e3b;
  --shadow: rgba(0, 0, 0, 0);
}
