.slick-next:before , .slick-prev:before{
    color : var(--border-gray);
    font-size : 15px;
    opacity: 1;
    line-height: 1;

}

/*.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {*/
/*    opacity: 1;*/
/*    color: red;*/
/*}*/